<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972572305667-gda8q3qd06a2ha1a00meunh1ii5t36pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972572305667-gda8q3qd06a2ha1a00meunh1ii5t36pt</string>
	<key>API_KEY</key>
	<string>AIzaSyBRZuoFTRaU5hvVufqaIUhoRfHGAyuZj98</string>
	<key>GCM_SENDER_ID</key>
	<string>972572305667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MoBeau.ProjectSY</string>
	<key>PROJECT_ID</key>
	<string>projectsy-321807</string>
	<key>STORAGE_BUCKET</key>
	<string>projectsy-321807.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972572305667:ios:0a11fd5a276b4a4dcb2136</string>
	<key>DATABASE_URL</key>
	<string>https://projectsy-321807.firebaseio.com</string>
</dict>
</plist>